<div class="container">

  <div class="mt-5">
    <span class="fs-3  offset-md-1 bg-light">会員情報編集</span>
  </div>
  <%= form_with model: @customer, local: true do |f| %>

    <div class="form-inline">
      <%= f.label :氏名, class:"col-1 mt-5" %>
      <%= f.text_field :last_name, class:"offset-1 col-3", autofocus: true %>
      <%= f.text_field :first_name, class:"offset-1 col-3", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :フリガナ, class:"col-1 mt-3" %>
      <%= f.text_field :last_name_kana, class:"offset-1 col-3", autofocus: true %>
      <%= f.text_field :first_name_kana, class:"offset-1 col-3", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :郵便番号, class:"col-1 mt-3" %>
      <%= f.text_field :postal_code, class:"offset-1 col-3", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :住所, class:"col-1 mt-3" %>
      <%= f.text_field :address, class:"offset-1 col-3", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :電話番号, class:"col-1 mt-3" %>
      <%= f.telephone_field :telephone_number, class:"offset-1 col-3", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :メールアドレス, class:"col-2 mt-3" %>
      <%= f.email_field :email, class:"col-3", autofocus: true %>
    </div>

    <%= f.submit "編集内容を保存", class: "btn btn-success offset-2 col-2 mt-5" %>
  <% end %>


  <%= link_to "退会する", quit_customers_path, class: "btn btn-danger col-2 offset-2 mt-3 mb-3" %>

</div>